[alias]
  tree  = log --graph --format=\"%C(auto)%h %C(blue)%an %C(auto)%d %s\"
  t     = log --graph --format=\"%C(auto)%h %C(blue)%an %C(auto)%d %s\"
  tf    = log --graph --format=\"%C(auto)%h %C(blue)%an %C(auto)%d %s\" --first-parent
  ta    = log --graph --format=\"%C(auto)%h %C(blue)%an %C(auto)%d %s\" --all

  a     = add
  aa    = add --all

  b     = branch
  bd    = branch -d
  bD    = branch -D

  c     = commit
  cm    = commit -m
  cv    = commit -v
  ca    = commit --amend
  cav   = commit --amend -v
  can   = commit --amend --no-edit
  cf    = commit --allow-empty -m 'Initial commit'

  cl    = clean
  cln   = clean -n
  clf   = clean -f
  clfn  = clean -fn
  cld   = clean -d
  cldn  = clean -dn
  clfd  = clean -fd
  clfdn  = clean -fdn

  co    = checkout
  cob   = checkout -b

  d     = diff
  dw    = diff --color-words
  dc    = diff --cached
  dcw   = diff --cached --color-words

  f     = fetch
  fa    = fetch --all

  g     = grep

  l     = log
  lp    = log -p
  ln    = log --name-status
  lo    = log --oneline
  lon   = log --oneline --name-status
  lod   = log --oneline --decorate
  lond  = log --oneline --name-status --decorate

  m     = merge
  moh   = merge origin HEAD
  mom   = merge origin master

  p     = push
  poh   = push origin HEAD
  pohf  = push --force-with-lease origin HEAD

  pl    = pull
  plr   = pull --rebase

  r     = reset
  rh    = reset HEAD
  rp    = reset HEAD~
  rph   = reset --hard HEAD~

  re    = rebase
  rei   = rebase -i
  reom  = rebase origin master

  rv    = revert

  s     = status

[core]
  excludesfile = ~/.gitignore
  editor = vim
  autocrlf = input
[user]
  email = sijiaoh@outlook.com
  name = sijiaoh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
